.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    
}

body {
    font-family: "Inter", sans-serif; 
    overflow-x: hidden;
}
nav{
    width: 100%;
    background-color: #1F1A17;
}
.container{
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

.top-header {
    display: flex;
    background-color: #1F1A17;
    color: white;
    padding: 10px 0;
    position: relative;
}

.latest-update {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 150px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.ticker-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
    
}

.ticker {
    color: yellow;
    white-space: nowrap;
    position: absolute;
    animation: ticker 30s linear infinite;
    padding: 5px 0;
}

@keyframes ticker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.search-user {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.search-user i {
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
}
.icons {
    display: flex;
    gap: 10px;
}

.icon-circle {
    width: 35px;
    height: 35px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #555;
    cursor: pointer;
    transition: background 0.3s ease;
}

.icon-circle i {
    color: #fff;
    font-size: 16px;
}

.icon-circle:hover {
    background-color: #555;
}
/* nav container...................... */

.nav-container {
    background-color: #3d2e2a;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    margin: auto;
    
}
.line {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.logo-container {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
}
.vertical-line {
    width: 1px;
    height: 70px;
    background-color: #fff;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 50px;
}
.right-line {
    margin-left: 0px;
    margin-right: 50px;
}

.logo {
    width: 120px;
    height: auto;
}

.logo-tagline {
    color: #ccc;
    font-size: 10px;
    margin-top: 2px;
}
.about-sopa{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

.nav-container ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    
}
.nav-container ul li a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.nav-container li {
    
    color: white;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
}
.nav-container ul li a span{
    width: 10px;
    font-size: 10px;
    margin-left: 2px;
    vertical-align: middle;
}
.nav-container ul li a.active,
.nav-container ul li a:hover{
  color: #111;
  background: #fff;
}
.nav-container .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 992px) {
    .nav-container .about-sopa{
        width: 150px;
    }
    
    .nav-container .menu-btn i{
      display: block;
      margin-left: 410px;
      /* margin-right: -10px; */
    }
    
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    .nav-container ul{
      position: fixed;
      top: 110px;
      left: -150%;
      background: #111;
      height: auto;
      width: 768px;
      text-align: center;
      display:block;
      transition: all 0.3s ease;
      z-index: 99999;
      
    }
    #click:checked ~ ul{
      left: 0;
    }
    .nav-container ul li{
      width: 100%;
      margin: 40px 0;
    }
    .nav-container ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    .nav-container ul li a.active,
    .nav-container ul li a:hover{
      background: none;
      color: rgb(48, 32, 118);
    }
}
@media (max-width: 541px) {
    .latest-update{
        width: 100px;
    }
    .nav-container .about-sopa{
        width: 170px;
    }
    
    .nav-container .menu-btn i{
      display: block;
      margin-left: 10px;
    }
    .nav-container ul{
      position: fixed;
      top: 120px;
      left: -150%;
      background: #111;
      height: auto;
      width: 425px;
      text-align: center;
      display:block;
      transition: all 0.3s ease;
      z-index: 99999;
      
    }
    
    .nav-container ul li{
      width: 100%;
      margin: 40px 0;
    }
    .nav-container ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
    }
    .nav-container ul li a.active,
    .nav-container ul li a:hover{
      background: none;
      color: blue;
    }
}
@media (max-width: 415px){
    .nav-container ul{
        width: 375px;
        
      }
}
@media (max-width: 320px){
    .nav-container ul{
        width: 320px;
        
      }
}
  
/* hero section....................... */

.hero {
    position: relative;
    width: 100%;
    min-height: 800px;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay-hero {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    /* z-index: 2; */
}

.bottom-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    background: linear-gradient(to top, rgba(255, 204, 0, 0.7) 50%, rgba(255, 204, 0, 0) 100%);
    z-index: 2;
}

.hero-content {
    position: relative;
    margin-top: 430px;
    z-index: 3;
    max-width: 500px;
    background: transparent;
}

.about-section {
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

.about-title {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
}

.story-title {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.story-description {
    color: #000;
    line-height: 1.6;
    margin-bottom: 30px;
}

.know-more {
    display: inline-flex;
    align-items: center;
    background-color: #3d2e2a;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.arrow-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    transition: all 0.3s;
}

.arrow-container:hover {
    transform: translateY(-10px);
}

.arrow {
    width: 30px;
    height: 30px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d2e2a;
    font-weight: bold;
}

.left-line {
    position: absolute;
    margin-left: -20px;
    width: 5px;
    height: 170px;
    background-color: #000;
    top: 0;
}
/* auction-section................... */

.auction-section {
    position: absolute;
    top: 817px;
    width: 100%;
    z-index: 3;
}

.auction-container {
    margin: 0 auto;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
}

.auction-card {
    background-color: #EFEFEF;
    border-top-left-radius: 22px;
    border-right: 1px solid black;
    padding: 30px;
    width: 24%;
    min-width: 200px;
    height: 110px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.auction-card-one {
    background-color: #EFEFEF;
    border-right: 1px solid black;
    padding: 30px;
    width: 24%;
    min-width: 200px;
    height: 110px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.auction-card-two {
    background-color: #EFEFEF;
    border-top-right-radius: 22px;
    padding: 30px;
    width: 24%;
    min-width: 200px;
    height: 110px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}



.card-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.auction-text {
    font-size: 14px;
    font-weight: bold;
    color: #3d2e2a;
}

.auction-card::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.auction-card:hover {
    background-color: #cea10f;
}

.auction-card:hover::after {
    opacity: 1;
}
.auction-card-one::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.auction-card-one:hover {
    background-color: #cea10f;
}

.auction-card-one:hover::after {
    opacity: 1;
}
.auction-card-two::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.auction-card-two:hover {
    background-color: #cea10f;
}

.auction-card-two:hover::after {
    opacity: 1;
}
/* about sopa................... */
.container-story {
    position: relative;
    width: 100%;
    max-width: 1380px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.text-content {
    position: absolute;
    width: 300px;
    font-size: 16px;
    margin-top: 100px;
}

.top-right {
    width: 450px;
    top: 22%;
    left: 67%;
}

.top-left {
    width: 480px;
    top: 15%;
    left: 0%;
}

.bottom-center {
    bottom: 27px;
    left: 51%;
}
.bottom-center h3{
    font-size: 20px;
}
.bottom-center p{
    margin-top: 10px;
    width: 700px;
    margin-left: -80px;
}

.main-image {
    width: 30%;
    border-radius: 10px;
}
.line-5{
    margin-left: 130px;
    margin-bottom: 10px;
    width: 21%;
    height: 2px;
    background-color: #F8C400;
}
.eve{
    width: 100px;
    margin-top: -70px;
    font-size: 22px;
    font-weight: 400;
    margin-left: 130px;
}
.event{
    width: 200px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 130px;
}
.para{
    opacity: 78%;
    line-height: 38px;
    width: 90%;
}
.container-story .overlay {
    position: absolute;
    background: transparent;
}
.overlay-top-right {
    border-radius: 50%;
    width: 20%;
    top: 5%;
    right: 25%;/
}
.overlay-bottom-left {
    width: 20%;
    bottom: 15%;
    left: 25%;
}
.svg-overlay {
    position: absolute;
    top: 15%;
    left: 848px;
    width: 450px;
    height: 200px;
    pointer-events: none;
}

.dotted-path {
    stroke-dasharray: 5, 5;
    stroke: #F8C400;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
}
.blinking-dot {
    fill: #F8C400;
    animation: blink 0.5s infinite alternate;
}

.svg-overlayy {
    position: absolute;
    top: 66%;
    margin-left: -700px;
    width: 700px;
    height: 200px;
    pointer-events: none;
    rotate: 180deg;
}
.dotted-pathh {
    stroke-dasharray: 5, 5;
    stroke: #F8C400;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
}
.blinking-dott {
    fill: #F8C400;
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.eve1{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}
.line-6{
    width: 30%;
    height: 2px;
    background-color: #F8C400;
    margin-bottom: 15px;
}
.event1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}
.para1{
    line-height: 38px;
    opacity: 78%;
}
.svg-overlayyy {
    position: absolute;
    top: 2%;
    left: 0%;
    margin-left:30px;
    height: 270px;
    pointer-events: none;
    rotate: 180deg;
}
.dotted-pathhh {
    stroke-dasharray: 5, 5;
    stroke: black;
    stroke-width: 2;
    fill: none;
    stroke-linecap: round;
}

.blinking-dottt {
    fill: black;
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
             

/* SOPA DEVELOPMENT PROGRAM..................... */
.experience-pill {
    background-color: #FFE48C;
    color: #000;
    text-align: center;
    padding: 8px 20px;
    border-radius: 50px;
    width: 200px;
    margin: 20px auto;
    border: 1px dashed #101010;
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px; 
    position: relative;
    
}
.card {
    background-color: #FFF9E5;
    border-radius: 15px 15px 0 0;
    width: 23%;
    height: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: visible;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    padding: 10px 10px 0 10px;
    transition: all 0.3s ease;
    z-index: 1;
}
.card::after {
    content: '';
    position: absolute;
    bottom: -30px; 
    left: 0;
    width: 100%;
    height: 30px; 
    background-color: transparent; 
    transition: all 0.3s ease;
    z-index: -1;
}
.card-connector {
    display: none;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 2;
    background-color: #ffde82;
}
.card.active-card .card-connector {
    display: block;
}
.card.active-card .card-connector::before,
.card.active-card .card-connector::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.card.active-card .card-connector::before {
    left: -40px;
    border-bottom-right-radius: 30px;
    box-shadow: 15px 15px 0 0 #ffde82;
}
.card.active-card .card-connector::after { 
    right: -40px;
    border-bottom-left-radius: 30px;
    box-shadow: -15px 15px 0 0 #ffde82;
}

.card.active-card::after {
    background-color: inherit;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.card-content {
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

.yellow-section {
    background-color: #FFDE82;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}
.analysis-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 570px;
}
.analysis-content {
    max-width: 500px;
}
.analysis-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}
.analysis-text {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #333;
}
.container-btn {
    display: inline-flex;
    align-items: center;
    background-color: #F3F3F3;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin-left: 0px;
    margin-top: 50px;
}
.container-btn:hover {
    background-color: #000;
    color: white;
}
.arrow-emoji {
    margin-left: 10px;
    background-color: #ffcc00;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
}
.analysis-buttons {
    flex: 1;
    height: 200px; 
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.analysis-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.analysis-buttons li {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    white-space: nowrap;
}
.analysis-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    min-width: 200px;
}


/*chairman section ........................................... */
.container-one {
    max-width: 1200px;
    width: 100%;
    display: flex;
    position: relative;
    padding: 10px 20px;
}

.dots-bg-left {
    position: absolute;
    width: 390px;
    height: 172px;
    margin-left: 270px;
    margin-top: 55px;
    background-image: url('./assests/Group\ 309.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.dots-bg-right {
    position: absolute;
    margin-left: 100px;
    margin-top: 70px;
    width: 300px;
    height: 500px;
    background-image: url('./assests/Group\ 310.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    z-index: -1;
}

.chairman-photo {
    padding-right: 0px;
    position: relative;
}

.photo-frame {
    overflow: hidden;
    position: relative;
    margin-top: -100px;
    margin-bottom: -70px;
}

.photo-frame img {
    width: 620px;
    height: 765px;
    border-radius: 35px;
}

.content-one {
    width: 100%;
}

.content-one p {
    margin-top: 10px;
}

.content-one h1 {
    margin-top: 90px;
    margin-left: 60px;
}

.quote-icon {
    width: 150px;
    height: 100px;
    position: absolute;
    overflow: hidden;
    background-image: url('./assests/image12.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
}

h1 {
    color: #777;
    font-size: 36px;
    margin-bottom: 30px;
}

p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
    font-size: 16px;
}

.chairman-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.sig-img{
    position: absolute;
    height: 20px;
    margin-top: 10px;
}

.experience-btn {
    display: inline-block;
    background-color: #FFF3D6;
    color: #555;
    padding: 12px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 150px;
    margin-left: -20px;
    border: 1px dashed #F2C94C;
}
/* second SOPA DEVELOPMENT PROGRAM............................................... */
.program-heading{
    text-align: center;
    font-size: 30px;
    font-style: solid;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 10%;
    margin-bottom: 20px;
}
.program-section {
    height: 550px;
    display: flex;
    gap: 10px;
}
/* .program-section:hover .box {
    width: 15%;
} */
.program-section .box:hover {
    width: 50%;
}
.wide-box {
    width: 40%; 
}
.small-box {
    width: 20%;
}
.box {
    height: 550px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}
#box1 {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 204, 0, 0.7) 100%), url('./assests/image18.png');
    padding: 20px ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
}

#box1 .program-content {
    width: 90%;
    color: black;
}
.program-content a{
    text-decoration: none;
    color: #000;
}
.program-content p{
    color: #000;
}
.program-text {
    transform: rotate(-90deg);
    transform-origin: center;
    position: relative;
    width: 250px;
    top: 350px;
    /* left: 40px; */
    font-size: 28px;
    font-weight: bold;
    color: black;
}
#box2 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #FFD475 100%), url('./assests/image19.png');
}

#box3 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #FFD475 100%), url('./assests/image20.png');
}

#box4 {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, #FFD475 100%),  url('./assests/image21.png');
}

/* membership section.......................... */
.heading {
    text-align: center;
    margin-bottom: 20px;
}
.plan-label{
    margin-top: 40px;
}
.plan-label span{
    background-color: #FFEDB4;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px dashed #F2C94C;
}
.heading h1{
    margin-top: 20px;
    color: #000000;
}
.carousel-member-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plan {
    background: #fff;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 32%;
    /* max-width: 420px; */
    box-sizing: border-box;
    transition: transform 0.3s ease;
    opacity: 0;
    transition: opacity 0.5s ease;
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn{
    from{opacity: 0; transform: translateX(50px);}
    to{opacity: 1;transform: translateX(0);}
}
.plan:hover{
    background-color: #FFEDB4;
    transform: translateY(-10px);
    .price{
        background-color: #ffe283;
    }
}

.plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.plan-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.plan-title {
    font-weight: 400;
    font-size: 16px;
}

.price {
    background-color: #FFEDB4;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px dashed #F2C94C;
}

.plan-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
    border-bottom: 1px dotted #999;
    padding-bottom: 10px;
}

.btn-container {
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: #F3F3F3;
    color: black;
    padding: 10px 20px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    left: 25%;
    margin-top: 50px;
}
.btn-container:hover{
    background-color: #000;
    color: white;
}
.btn-arrow-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: relative;
    transition: all 0.3s;
}
.btn-arrow-container:hover{
    transform: translateY(-10px);
}
.btn-arrow {
    width: 40px;
    height: 40px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3d2e2a;
    font-weight:bolder;
}
.btn-arrow-middle{
    width: 40px;
    height: 40px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.container-member {
    margin-bottom: 15px;
}
.item-member {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.icon-member {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.item-member p {
    font-size: 14px;
    margin: 0;
}
.mem-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}
.m-dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.m-dot.active {
    background-color: #FFC107;
    width: 25px;
    border-radius: 10px;
}

/* news & update section...................... */
.news-update{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    line-height: 100px;
    text-transform: uppercase;
    margin-top: 40px;

}
.container-two {
    width: 100%;
    max-width: 1380px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.left-section {
    background-image: url('./assests/image17.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 750px;
    border-radius: 10px;
}

.overlay-one {
    position: absolute;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    max-width: 50%;
}

.overlay-one h3 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.overlay-one p {
    font-size: 14px;
    line-height: 1.5;
    color: #0F0C0C;
}

.right-section {
    position: relative;
    width: 570px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carousel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.carousel-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #FFC107;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    opacity: 50%;
    transition: filter 0.3s ease;
}

.carousel-item.active {
    opacity: 1;
}

.carousel-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: -15px;
    margin-bottom: -15px;
    margin-left: -20px;
    padding: 20px 10px;
    background-color: #FFC107;
}

.carousel-date span {
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
    position: relative;
}

.carousel-date span::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 180px;
    height: 0.1px;
    background-color: white;
    transform: translateX(-50%);
}

.carousel-text {
    font-size: 14px;
}

.scroll-btns {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #FFC107;
    width: 25px;
    border-radius: 10px;
}



/* newsletter section.............. */
.banner {
    width: 100%;
    height: auto;
    margin: 20px auto;
    background-color: #FFC700;
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-image: url('./assests/image\ 14.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 90px;
}

.content {
    padding-left: 70px; 
}

.text h2 {
    margin-top: 30px;
    font-size: 25px;
    color: #000;
    font-weight: 600;
    line-height: 1.4;
}

.newsletter {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 12px 12px;
    margin-right: 80px;
    border-radius: 50px;
    border: 1px solid black;
    width: 300px;
    justify-content: space-between;
}

.newsletter input {
    border: none;
    background: transparent;
    outline: none;
    color: #aaa;
    font-size: 14px;
    flex: 1;
    padding: 5px 10px;
    cursor: not-allowed;
}

.arrow-btn {
    width: 40px;
    height: 40px;
    background-color: #FFC700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-btn span {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.arrow-btn:hover {
    transform: translateY(-10px);
    background-color: #ffb400;
}

/* footer pert........... */
.footer {
    position: relative;
    width: 100%;
    background-image: url('./assests/footer-image.png');
    background-size: cover;
    color: white;
    padding: 40px 0 0 0;
}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
}

.footer-logo {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-subtitle {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
}

.divider {
    width: 40%;
    margin: 0 auto;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.footer-column {
    min-width: 160px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: white;
}
.line3{
    width: 100%;
    background-color: white;
}

.footer-bottom {
    position: relative;
    padding: 25px 0;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.footer-bottom-links {
    display: flex;
}

.footer-bottom-links a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-text {
    margin-right: 15px;
    font-size: 14px;
}

.social-icons a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: translateY(-3px);
}

.social-icons i {
    font-size: 16px;
}

.facebook { color: #3b5998; }
.instagram { color: #e1306c; }
.twitter { color: #1da1f2; }
.linkedin { color: #0077b5; }

.polygon-container {
    position: absolute;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 80px;
    overflow: hidden;
}

.polygon {
    width: 100%;
    height: 100%;
    background-image: url('./assests/Polygon\ 1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.polygon i {
    color: #333;
    font-size: 20px;
    margin-top: 10px;
}
/* sub footer part................ */

.sub-footer{
    background-color: #F8C400;
    position: relative;
}
.copyright {
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
.line1{
    background-color: black;
    height: 2px;
    width: 47%;
}
.line2{
    background-color: black;
    height: 2px;
    width: 47%;
    position: absolute;
    top: 0%;
    right: 0;
    transform: translateY(-50%);
}

@media (max-width: 1440px) {
    .container {
      width: 100%;
      padding: 0 10px;
    }
    .nav-container{
        margin: 0;
        padding: 0;
    }
    .vertical-line {
        margin-left: 40px;
    }
    .left-line{
        margin-left: -15px;
    }
  
    .auction-card,
    .auction-card-one,
    .auction-card-two {
      width: 24%;
      margin-top: -20px;
    }
    .plan {
        max-width: 32%;
    }
    .wide-box {
        width: 30%; 
    }
    .small-box {
        width: 20%;
    }
    .program-section .box:hover {
        width: 40%;
    }
  }

  @media screen and (max-width: 1200px) {
    
    .plan {
        max-width: 31%;
    }
    .btn-container{
        margin-left: -30px;
    }
    .container{
        padding: 0 15px;
    }
    .nav-item {
      padding: 0 15px;
      font-size: 13px;
    }
  
    .vertical-line {
      margin-left: 15px;
    }
  
    .right-line {
      margin-right: 20px;
    }
  
    .logo-container {
      margin-left: 20px;
    }
  
    .about-sopa {
      margin-left: 20px;
    }
  
    .hero-content {
      left: 20px;
    }
    .left-line{
        margin-left: -20px;
    }
    .auction-card,
    .auction-card-one,
    .auction-card-two {
      width: 25%;
    }
    .main-image {
        width: 80%;
        max-width: 400px;
    }

    .overlay-top-right, .overlay-bottom-left {
        width: 100%;
        max-width: 200px;
    }
    .overlay-top-right{
        margin-top: -60px;
    }
    .overlay-bottom-left{
        margin-bottom: 750px;
        margin-left: -40px;
    }
    .container-story {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 100px 0;
    }

    .top-left, .top-right, .bottom-center {
        position: relative;
        width: 100%;
        max-width: 500px;
        text-align: center;
        left: 0px;
        top: 0;
    }
    .bottom-center>p{
        max-width: 500px;
        width: 100%;
        text-align: center;
        margin-left: 0px;
    }
    .para{
        max-width: 500px;
        width: 100%;
        align-items: center;
    }
    .line-6{
        margin-left: 180px;
    }
    .eve{
        margin-left: 190px;
        margin-top: 5px;
    }
    .event{
        margin-left: 140px;
    }
    .line-5{
        margin-left: 190px;
    }

    .svg-overlay, .svg-overlayy, .svg-overlayyy {
        display: none; 
    }
    .card {
      width: 22%;
    }
    .analysis-section{
        gap: 150px;
    }
  
    .container-one {
        margin-left: -30px;
    }
  
    .content-one h1 {
      margin-left: 0;
      text-align: center;
    }
    .container-two{
        margin: 0 0px;
    }
    .left-section {
        margin-left: 20px;
      width: 500px;
    }
    .right-section{
        width: 450px;
    }
    .footer-column {
        width: 30%;
    }
    .footer-links{
        width: 70%;
    }
    .footer-bottom-links{
        width: 45%;
    }
    .line1{
        width: 45.6%;
    }
    .line2{
        width: 45.6%;
    }
    .experience-btn{
        margin-left: -200px;
    }
  }

  @media screen and (max-width: 992px) {
    
    .plan {
        max-width: 45%;
        width: 50%;
    }
    .btn-container{
        /* position: relative; */
        /* left: 80px; */
    }
    
    .hero-content{
        margin-top: 320px;
    }
  
    .auction-card,
    .auction-card-one,
    .auction-card-two {
      width: 50%;
      height: 100px;
      top: -90px;
    }
    .bottom-gradient{
        position: absolute;
        height: 300px;
    }
    .auction-card-two,
    .second-one{
        border-top: 1px solid black;
        
    }
    
    .first-one{
        border-top-right-radius: 20px;
        border-right: 0px solid black;
    }
  
    .auction-card-two {
        border-top-right-radius: 0px;
    }
    .overlay-top-right{
        top: 4%;
        left: 65%;
    }
    .overlay-bottom-left{
        left: 14%;
        top: 32%;
        /* margin-bottom: 750px; */
    }
    .card {
      width: 45%;
    }
  
    .analysis-section {
      gap: 0px;
    }
    .analysis-content{
        width: 60%;
    }
    .chairman{
        padding-left: 90px;
    }
    .container-one{
        flex-direction: column;
    }
    
    .content-one{
        margin-left: 150px;
        max-width: 500px;
        width: 100%;
    }
    .quote-icon{
        margin-left: 65px;
    }
    .experience-btn{
        margin-left: 160px;
    }
    .container-two{
        grid-template-columns: 1fr;
    }
    .left-section{
        margin-left: 20px;
        width: 95%;
    }
    .right-section{
        margin-left: 20px;
        width: 95%;

    }
    .program-section {
        height: 350px;
        display: flex;
        gap: 10px;
    }
    .box {
      width: 100%;
      margin-bottom: 20px;
      height: 350px;
    }
    .program-section .box:hover {
        width: 50%;
    }
    .wide-box {
        width: 40%; 
    }
    .small-box {
        width: 20%;
    }
    .program-text{
        left: -50px;
        top: 200px;
    }
    
    .footer-column {
      width: 20%;
    }
    .footer-bottom-links>a{
        margin-bottom: 30px;
    }
    .line1{
        width: 44.2%;
    }
    .line2{
        width: 44.2%;
    }
    
  }
  @media screen and (max-width: 531px){
    .plan {
        max-width: 95%;
        width: 95%;
    }
    .btn-container{
        /* position: relative; */
        left: 100px;

    }
    .hero-img{
        height: 100vh;
    }
    .bottom-gradient {
        height: 450px;
        background: linear-gradient(to top, rgba(255, 204, 0, 0.7) 50%, rgba(255, 204, 0, 0) 100%);
        /* z-index: 2; */
    }
    .hero-content{
        margin-left: -20px;
        margin-top: 220px;
    }
    .about-title{
        color: white;
    }
    .auction-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .auction-card,
    .auction-card-one,
    .auction-card-two {
        
      width: 100%;
      height: 80px;
      top: -196px;
      border: 0;
    }
    .first-one{
        border-radius: 0px;
    }
    .auction-card{
        border-top-right-radius: 20px;
    }
    .main-image {
        width: 50%;
    }
    .overlay{
        width: 30%;
    }
    .overlay-top-right{
        left: 60%;
        top: 7%;
    }
    .overlay-bottom-left{
        left: 18%;
        /* bottom: 59%; */
        top: 20%;
    }
    .text-content{
        width: 80%;
        max-width: 425px;
    }
    .eve{
        margin-left: 110px;
    }
    .event{
        margin-left: 60px;
    }
    
    .bottom-center>p{
        margin-bottom: -50px;
    }
    .line-6 {
        display: none;
    }
    .line-5{
        display: none;
    }
    .card{
        height: 270px;
    }
    .cards-container{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .analysis-section{
        height: 570px;
        flex-direction: column;
    }
    .analysis-content{
        width: 100%;
    }
    .analysis-buttons{
        margin-top: 40px;
    }
    .dots-bg-right{
        width: 150px;
        margin-left: -65px;
        margin-top: 20px;
    }
    .dots-bg-left{
        width: 150px;
        margin-top: 60px;
        margin-left: 135px;
    }
    .photo-frame{
        margin-left: -200px;
    }
    .chairman{
        margin-left: 10px;
    }
    .content-one{
        margin-left: 35px;
    }
    .content-one h1{
        margin-left: -10px;
    }
    .content-one p{
        text-align: justify;
    }
    .quote-icon{
        margin-left: -30px;
    }
    .experience-btn{
        margin-left: 85px;
    }
    .container-two{
        margin-left: -10px;
        padding: 0 10px;
    }
    .banner{
        gap: 40px;
        flex-direction: column;
    }
    .newsletter{
        margin-left: 80px;
    }
    .footer-column {
        width: 100%;
    }
    .footer-links{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-bottom-links{
        margin-bottom: 60px;
    }
    .social-text{
        margin-left: -50px;
    }
    .line1{
        width: 39.3%;
    }
    .line2{
        width: 39.3%;
    }
    .program-content h2{
        font-size: 15px;
    }
    .program-content p{
        font-size: 12px;
    }
    
    .program-section{
        display: flex;
        max-width: 390px;
        width: 100%;
    }
    .wide-box {
        width: 30%; 
    }
    .small-box {
        width: 15%;
    }
    .program-section .box:hover {
        width: 50%;
    }
    .card.active-card .card-one::before{
        display: none;
    }
    .card.active-card .card-three::before{
        display: none;
    }
    .card.active-card .card-two::after{
        display: none;
    }
    .card.active-card .card-four::after{
        display: none;
    }
  }
  
  @media screen and (max-width: 415px){
    .hero-content{
        width: 350px;
        margin-top: 200px;
    }
    .chairman{
        margin-left: 30px;
    }
    .overlay{
        width: 120px;
    }
    .overlay-bottom-left{
        top: 17%;
    }
    .dots-bg-left{
        margin-left: 50px;
        margin-top: 30px;
    }
    .dots-bg-right{
        margin-left: -25px;
        bottom: 69.5%;
    }
    .photo-frame img{
        margin-left: 110px;
        margin-top: 50px;
        width: 350px;
        height: 400px;
    }
    .cards-container{
        margin-bottom: 20px;
    }
    .card::after{
        bottom: -30px;
    }
    .program-content{
        width: 100px;
    }
    .experience-btn{
        margin-left: 70px;
    }
    .overlay-one{
        position: absolute;
        height: 350px;
        top: 50px;
    }
    .newsletter{
        margin-left: 80px;
    }
    .line1{
        width: 37.5%;
    }
    .line2{
        width: 37.5%;
    }
    .heading h1{
        font-size: 28px;
    }
    .footer-bottom-links a{
        font-size: 12px;
    }
    .btn-container{
        margin-left: -60px;
    }
  }
  @media screen and (max-width: 391px){
    .chairman{
        margin-left: 15px;
    }
  }
  @media screen and (max-width: 376px){
    .chairman{
        margin-left: 10px;
    }.eve{
        margin-left: 100px;
    }
    .event{
        margin-left: 50px;
    }
  }
  @media screen and (max-width: 361px){
    .hero-content{
        margin-top: 200px;
    }
    .chairman{
        margin-left: 5px;
    }
    .overlay{
        width: 120px;
    }
    .overlay-bottom-left{
        top: 17%;
    }
    .dots-bg-left{
        margin-left: 50px;
        margin-top: 30px;
    }
    .dots-bg-right{
        margin-left: -25px;
        bottom: 69.5%;
    }
    .photo-frame img{
        margin-left: 110px;
        margin-top: 50px;
        width: 350px;
        height: 400px;
    }
    .cards-container{
        margin-bottom: 20px;
    }
    .card::after{
        bottom: -30px;
    }
    .program-content{
        width: 100px;
    }
    .experience-btn{
        margin-left: 60px;
    }
    .overlay-one{
        position: absolute;
        height: 350px;
        top: 50px;
    }
    .newsletter{
        margin-left: 80px;
    }
    .line1{
        width: 37.5%;
    }
    .line2{
        width: 37.5%;
    }
    .heading h1{
        font-size: 28px;
    }
    .footer-bottom-links a{
        font-size: 12px;
    }
    .btn-container{
        margin-left: -60px;
    }
    .eve{
        margin-left: 90px;
    }
    .event{
        margin-left: 40px;
    }
  }
  @media screen and (max-width: 345px){
    .hero-content{
        width: 330px;
        margin-top: 200px;
    }
    .know-more{
        margin-top: -20px;
    }
    .btn-container{
        margin-left: -80px;
    }
    
    .overlay-bottom-left{
        margin-top: -40px;
    }
    .eve{
        margin-left: 85px;
    }
    .event{
        margin-left: 30px;
    }
    .chairman{
        margin-left: 10px;
    }
    .dots-bg-left{
        margin-left: 38px;
        margin-top: 30px;
    }
    .dots-bg-right{
        margin-left: -45px;
        bottom: 72.5%;
    }
    .photo-frame img{
        margin-left: 90px;
        margin-top: 50px;
        width: 350px;
        height: 400px;
    }
  
    .experience-btn{
        margin-left: 40px;
    }
    .program-content p{
        font-size: 9px;
    }
    
    .container-two .overlay{
        margin-bottom: -20px;
    }
    .newsletter{
        width: 110%;
    }
    .footer-bottom-links a{
        font-size: 10px;
    }
    .line1{
        width: 36%;
    }
    .line2{
        width: 36%;
    }
    .social-icons a{
        font-size: 10px;
    }
  }
  @media screen and (max-width: 320px){
    .hero-content{
        margin-top: 200px;
    }
    .know-more{
        margin-top: -20px;
    }
    .btn-container{
        margin-left: -80px;
    }
    
    .overlay-bottom-left{
        margin-top: -40px;
    }
    .eve{
        margin-left: 75px;
    }
    .event{
        margin-left: 30px;
    }
    .chairman{
        margin-left: 5px;
    }
    .dots-bg-left{
        margin-left: 38px;
        margin-top: 30px;
    }
    .dots-bg-right{
        margin-left: -45px;
        bottom: 72.5%;
    }
    .photo-frame img{
        margin-left: 90px;
        margin-top: 50px;
        width: 350px;
        height: 400px;
    }
  
    .experience-btn{
        margin-left: 40px;
    }
    .program-content p{
        font-size: 9px;
    }
    
    .container-two .overlay{
        margin-bottom: -20px;
    }
    .newsletter{
        width: 110%;
    }
    .footer-bottom-links a{
        font-size: 9px;
    }
    .line1{
        width: 36%;
    }
    .line2{
        width: 36%;
    }
    .social-icons{
        margin-left: -70px;
    }
    .social-icons a{
        font-size: 10px;
    }
    .social-text{
        width: 80px;
        font-size: 12px;
    }
  }
 

